body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
table {
background-color:#3df;
border-collapse:collapse; 
width: 100%; 
}
th,td {
    border: 1px solid #fdfdfd; 



}